*{
    font-family: microsoft jhenghei;
    box-sizing: border-box;
    #app{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: auto;
        background-color: #efefef;
        .imgBox{
            padding: 30px;
            position: relative;
            text-align: center;
            margin-top: 200px;
            @media(max-width: 479.98px){
                padding: 15px;
                margin-top: 125px;
            }
            .imgdiv{
                width: 100px;
                height: 100px;
                display: inline-block;
                background-size: contain;
                background-repeat: no-repeat;
                cursor: pointer;
                margin-bottom: -2.3px;
                background-position: center;
                background-color: #fff;
                @media(max-width: 479.98px){
                    width: 33%;
                    padding-top: 33%;
                    height: 0;
                }
            }
        }
        .searchOkay{
            margin-bottom: 50px;
            padding-bottom: 50px;
            border-bottom: 1px solid #888;
        }
        #bar{
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            &.searchOkay{
                position: fixed;
                top: auto;
                transform: none;
                background-color: #efefef;
                // background-color: #fff;
                padding-top: 100px;
                z-index: 100;
                @media(max-width: 479.98px){
                    padding-top: 40px;
                    margin-bottom: 15px;
                    padding-bottom: 25px;
                }
            }
            @media(max-width: 479.98px){
                margin-top: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .searchBtn{
                padding: 10px 15px;
                background-color: #1fc0a0;
                color: #fff;
                border: 0;
                cursor: pointer;
            }
            .searchBar{
                width: calc(100% - 100px);
                text-align: center;
                padding: 10px 15px;
                outline: 0;
                // border-radius: 10px;
                transition: all .4s;
                // border-color: #999;
                border: 0;
            }
            .searchBar:focus, searchBar:hover{
                border-color: #1fc0a0;
            }
        }
        .loading{
            transition: all .4s;
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.75);
            z-index: 1000;
            &::before{
                content: "Loading...";
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        #more{
            display: none;
            text-decoration: none;
            background-color: #1fc0a0;
            color: #fff;
            padding: 15px;
            text-align: center;
            transition: all .4s;
            margin: 30px;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            margin-bottom: 100px;
            @media(max-width: 479.98px){
                margin: 15px;
                width: auto;
                margin-bottom: 100px;
            }
        }
        .pop{
            transition: all .4s;
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.75);
            z-index: 100;
            .popImg{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                max-width: 90%;
                max-height: 90%;
            }
        }
        footer{
            position: fixed;
            padding: 15px;
            background-color: rgba(31,192,160,0.9);
            color: #fff;
            width: 100%;
            text-align: center;
            bottom: 0;
        }
    }
}